body { width=100%;
       height=100%;
     }

#circleCanvas {
  display: block;
  position: relative;
  top: 100px;
  z-index: 1;
  background-color: #94A89A;
}

#text{
  position: absolute;
  height: 100px;
  width: 100%;
  font-family: "Helvetica";
  font-size: 75px;
  outline: none;
}
